input {
  border-radius: 14px;
  background-color: rgba(247, 247, 251, 1);
  color: rgba(18, 20, 23, 1);
  border: none;

  border-radius: 14px;
}

button {
  border: none;
  border-radius: 12px;
  color: white;
  background-color: rgba(52, 112, 255, 1);
}

button :hover {
  background-color: rgba(11, 68, 205, 1);
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
